@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.wrapper {
    padding: 30px;
    flex-wrap: wrap;
    display: flex;
    gap: 12px;
}

.wrapper .content {
    width: 260px;
    height: 300px;
    border: 1px solid #eee;
}

.wrapper .content textarea {
    border: 0;
    resize: none;
    outline: none;
    padding: 12px;
    width: 100%;
    height: calc(100% - 50px);
    display: block;
}

.wrapper .content .btns {
    display: flex;
    justify-content: end;
    gap: 6px;
    padding: 0 12px;
    align-items: center;
    height: 50px;
}

.wrapper .content .btns button {
    border: 0;
    color: #fff;
    padding: 3px 15px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
    height: 26px;
}

.wrapper .content .btns button.cancle {
    border: 1px solid #b7b7b7;
    color: #b7b7b7;
}

.wrapper .content .btns button.save {
    background-color: green;
    border: 1px solid green;
}

.wrapper .content .btns button.delete {
    background-color: #E82F3D;
    border: 1px solid #E82F3D;
}

.wrapper .content .btns button.edit {
    background-color: #FFAD00;
    border: 1px solid #FFAD00;
}